body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
}

.content {
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    /* give it dimensions */
    width: 390px;
    background-color: rgb(240, 240, 240);
}